<% layout('./layout/boilerplate') %>

    <div class="container mt-5 mb-5">
        <%- include('../partial/flashMessage') %>
            <h1>Campgrounds!!</h1>
            <% for(let eachData of allData.reverse()) { %>
                <div class="card w-75">
                    <div class="row">
                        <div class="col-md-5">
                            <img src="<%=eachData.image%>" class="img-fluid img-thumbnail">
                        </div>

                        <div class="col-md-7">
                            <div class="card-body">
                                <h5 class="card-title">
                                    <%=eachData.title%>
                                </h5>
                                <h6 class="card-subtitle mb-2 text-muted">
                                    <%=eachData.location%>
                                </h6>
                                <p class="card-text">
                                    <%=eachData.description%><br><br>
                                        <a href="/main/<%=eachData._id%>" class="btn btn-primary">Detail</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <% } %>
    </div>